.home-container {
  padding: 10px;
  font-size: 22px;
  text-align: center;
  background-color: #e5e5e5;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 15px 20px;
}

.home-content-container h1 {
  color: #fff;
  width: 260px;
  font-size: 1em;
}

.home-content-container p {
  color: #fff;
  width: 260px;
  font-size: 0.5em;
}

.home-image-container {
  padding: 20px 40px;
}

.home-image-container svg {
  width: auto;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
    font-size: 36px;
  }

  .home-content-container {
    margin: 0px 30px;
  }

  .home-content-container h1 {
    width: 540px;
  }

  .home-content-container p {
    width: 540px;
    font-size: 18px;
    margin: 0px 55px 40px 55px;
    padding: 0px 60px;
  }

  .home-image-container {
    padding: 20px 100px;
  }

  .home-image-container svg {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 40px 80px;
  }

  .home-content-container {
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .home-container {
    font-size: 40px;
    padding: 20px;
  }

  .home-image-container svg {
    width: 500px;
  }

  .home-content-container h1 {
    width: 700px;
    margin-bottom: 0px;
  }

  .home-content-container p {
    width: 700px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .home-card {
    flex-direction: row;
    justify-content: space-around;
    padding: calc(((85vh - 480px) / 2) - 20px) 0;
  }

  .home-content-container {
    width: 700px;
    padding: 40px 10px;
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
  }

  .home-content-container h1 {
    text-align: left;
    padding: 20px 80px 0px 80px;
    margin: 70px 20px -100px;
  }

  .home-content-container p {
    text-align: left;
    padding: 0px 0px 0px 80px;
    margin: 0px 0px 40px 20px;
    font-size: 0.6em;
  }

  .home-image-container svg {
    width: 520px;
    padding: 0px 40px 0px 30px;
  }
}
