.product-card {
  margin-bottom: 30px;
}

.card-image-container {
  text-align: center;
  padding: 16px 0px;
}

.car-description-container {
  text-align: center;
  padding: 10px 40px;
}

.car-description-container h6 {
    font-size: 18px;
    color: black;
    padding-bottom: 15px;
}

.car-description-container p {
    width: 220px;
    height: 28px;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    color: #585858;
    margin: 0px 10px 20px -10px;
}

.card-image-container img {
    width: 220.72px;
    height: 165px;
}

@media (min-width: 576px) {
  .card-description-container p {
    font-size: 0.6em;
  }
}

@media (min-width: 768px) {
  .card-description-container p {
    font-size: 1em;
    margin: 0px 10px;
  }
}

@media (min-width: 1200px) {
  .card-description-container p {
    font-size: 1.2em;
  }
}

