.btn-buy-container button {
  height: 30px;
  width: 15vh;
  padding: 5px 27px;
  margin: 10px;
  background-color: #00285f;
  border-radius: 5px;
}

.btn-buy-container p {
  color: #fff;
  font-style: normal;
  align-items: center;
  margin: 0px 20px;
}
